/* BACKGROUNDS */

#backgroundMain {
  background-image: url("../assets/black-coffee.jpg");
  background-size:cover;
  height: 600px;
  min-height: 400px;
  background: transparent;

}

#backgroundMainSm {
  background-image: url("../assets/black-coffee-sm.jpg");
  background-size:cover;
  height: 400px;

}

#backgroundPage {
  background-image: url("../assets/black-coffee.jpg");
  background-size:cover;
  height: 350px;
  min-height: 300px;
  background: transparent;
background-position: 5%;
}

/* NAVAGRATION */

.top-bar {
    background: rgba(35, 35, 35, 0.78);

}

.top-bar ul {
  background-color: transparent;
}

.top-bar-left .menu-text {
  color: rgba(255, 255, 255, 0.83);
}

.top-bar a{
  color: #b5cfe0;
}

.top-bar a:hover{
  color: #8796a0;
}
/* \\\\\\\\\\ */
/* Overlays */

#overlay{
  background: rgba(61,65,71,.15);
  height: 600px;

  opacity: 1;

}

#pageOverlay{
  background: rgba(61,65,71,.15);
  height: 350px;

  opacity: 1;

}

#introduction-overlay {
  background: rgba(255,255,255,0.57);


  opacity: 1;
  padding-top: 25px;
  padding-bottom: 30px;
  margin-top: 4%;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* Main content section */
#mainContent{
  padding-top:80px;
  padding-bottom: 80px;
  background-color:#ecebe4;
}

#mainContent h2{
     margin: 5px 15px 12px 15px;
     text-align: center;
}

#mainContent .callout{

  border-radius: 10px;
}

/* \\\\\\\\\\\\\\\\\\\\\\\*/
/* INTRODUCTION SECTION */
#introduction-container {
  padding-top: 5%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 6%;
}

#introduction-container .subheader {
  color: #4c4c4c;

}

.profile-pic {
width: 600px;
border-radius: 50%;
}

/* \\\\\\\\\\\\\\\ */


/* FOOTER */
#footer, #footer .callout{
     background: #31383C;

}

#footer .lead{
  color: #eee;
}

#footer a{
  color: #b5cfe0;
}

#footer a:hover{
  color: #eee;
}

#footer #copyright li{
  color: #eee;
}
/* \\\\\\\\\\\\\\\\\\\\\\\*/
